<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Form Data Siswa</title>
  <link rel="stylesheet" href="css/form5.css" />
</head>
<body>
  <div class="form-wrapper">
    <header class="form-header">
      <img src="/assets/img/Rectangle 6.png" alt="Logo Yayasan Nurul Fikri">
    </header>
    
    <nav class="form-nav">
      <div class="nav-item active">Siswa<br><span class="active">Data Calon Siswa</span></div>
      <div class="nav-item nih">Kesehatan<br><span class="nih">Data kesehatan</span></div>
      <div class="nav-item woke">Domisili<br><span class="woke">Alamat siswa</span></div>
      <div class="nav-item yaha">Wali Murid<br><span class="yaha">Data Wali murid</span></div>
      <div class="nav-item hola">Prestasi siswa<br><span class="hola">Data Prestasi</span></div>
      <div class="nav-item">Konfirmasi<br><span>Pendaftaran</span></div>
    </nav>

    <section class="form-section">
      <h2>Data Prestas Siswa</h2>
      <p>Data prestasi calon siswa baru</p>
      <form class="data-form">
        <div class="form-row">
          <input type="text" placeholder="Nama Lengkap Ayah *" required />
          <input type="text" placeholder="Nama Lengkap Ibu *" required />
        </div>

        <div class="form-row">
            <input type="text" placeholder="Nomor wali murid (ayah atau ibu) *" required />
        </div>

        <div class="form-row">
            <div class="file-input">
              <label>Pas Foto *</label>
              <input type="file" required />
            </div>
            <div class="file-input">
              <label>Kartu Keluarga *</label>
              <input type="file" required />
            </div>
        </div>
        
        
        <div class="form-buttons">
          <a href="form4.html" class="btn back"><</a>
          <button type="submit" class="btn submit">Submit</button>
        
        </div>
      </form>
    </section>
  </div>
</body>
</html>
