<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Form Data Siswa</title>
  <link rel="stylesheet" href="css/form3.css" />
</head>
<body>
  <div class="form-wrapper">
    <header class="form-header">
      <img src="/assets/img/Rectangle 6.png" alt="Logo Yayasan Nurul Fikri">
    </header>
    
    <nav class="form-nav">
      <div class="nav-item active">Siswa<br><span class="active">Data Calon Siswa</span></div>
      <div class="nav-item nih">Kesehatan<br><span class="nih">Data kesehatan</span></div>
      <div class="nav-item woke">Domisili<br><span class="woke">Alamat siswa</span></div>
      <div class="nav-item">Wali Murid<br><span>Data Wali murid</span></div>
      <div class="nav-item">Prestasi siswa<br><span>Data Prestasi</span></div>
      <div class="nav-item">Konfirmasi<br><span>Pendaftaran</span></div>
    </nav>

    <section class="form-section">
      <h2>Domisili Siswa</h2>
      <p>Data Alamat Calon Siswa Baru</p>
      <form class="data-form">
        <div class="form-row">
          <input type="text" placeholder="Alamat *" required />
          <input type="text" placeholder="Alamat Lengkap *" required />
        </div>

        <div class="form-row">
            <input type="text" placeholder="Kode Pos *" required />
            <input type="text" placeholder="Negara *" required />
        </div>

        <div class="form-row">
            <input type="text" placeholder="Kota *" required />
            <input type="text" placeholder="Provinsi *" required />
        </div>

        <div class="form-buttons">
          <a href="form2.html" class="btn back"><</a>
          <a href="form4.html" class="btn next">></a>
        </div>
      </form>
    </section>
  </div>
</body>
</html>
