* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
  background-color: white;
}
html {
    overflow-x: hidden;
}
.header {
    position: relative;
    height: 100vh;
    margin-bottom: 100px;
}
.navbar-wrapper {
  z-index: 10;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  height: 10vh;
  width: 80vw;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 26px;
  background-color: black;
  backdrop-filter: blur(3px);
  opacity: 80%;
  border-radius: 10px;
}
.navbar-wrapper img{
  height: 50px
}
.navbar-wrapper h3, li{
  font-size: 18px;
  color: white;
}
.items-left{
  display: flex;
  gap: 14px;
}
.items-right{
  display: flex;
  align-items: center;
  gap: 40px;
}
.items-right ul, li, a, button{
  list-style: none;
  text-decoration: none;
  color: grey;
}
.items-right ul{
  display: flex;
  gap: 18px;
  font-weight: bold;
}
.items-right ul li a {
  text-decoration: none;
  color: grey;
  font-size: 16px;
  letter-spacing: 2px;
  transition: letter-spacing 0.3s ease, color 0.3s ease;
}
.items-right ul li a:hover {
  letter-spacing: 4px;
  color: white;
  border-bottom: 2px solid white;
}
.btn-wrapper {
  display: flex;
  gap: 10px;
}
.btn-sign-up{
  background-color: #F5F5F5;
  color: black;
  font-weight: bold;
  font-size: 15px;
  width: 75px;
  height: 35px;
  border-style: hidden;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-sign-up:hover{
  background-color: #232323;
  color: white;
  cursor: pointer;
}
.btn-login{
  background-color: #232323;
  color: white;
  font-weight: bold;
  font-size: 15px;
  width: 75px;
  height: 35px;
  border-style: hidden;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-login:hover{
  background-color: #F5F5F5;
  color: black;
  cursor: pointer;
}
.first-section{
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('/assets/img/background-nurul-fikri.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3.5rem;
    text-align: center;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.text:hover{
    letter-spacing: ;
}
.title2{
    font-size: 3.5rem;
    color: rgb(0, 200, 0);
}
.title2 span{
    color: white;
}
.text .subtitle{
    font-size: 1rem;
}
.button2 {
  margin-top: 15px;
  position: absolute;
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
}
.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: rgb(0, 200, 0);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.button2:hover {
  color: #ffffff;
  border: 1px solid rgb(0, 200, 0);
}
.button2:hover:before {
  top: -35%;
  background-color: rgb(0, 200, 0);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.button2:hover:after {
  top: -45%;
  background-color: rgb(0, 200, 0);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.tentang-sekolah {
  padding: 80px 10%;
}
.container {
    display: flex;
    align-items: center;
    gap: 40px;
}
.image img {
    width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
.content {
    max-width: 600px;
}
.content h2 {
    font-size: 50px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
.content h2 span{
  font-size: 50px;
  color: green;
}
.content p {
    font-size: 20px;
    color: #666;
    line-height: 1.6;
}
.content p span{
  font-size: 20px;
  color: green;
}
.jenjang-sekolah {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.jenjang-sekolah h2 {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  top: -20px;
  margin-bottom: 100px;
}
.container {
  display: flex;
  gap: 200px;
  justify-content: center;
}
.card {
  width: 250px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
}
.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.card-content {
  padding: 15px;
}
.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.card-text {
  font-size: 14px;
  color: #666;
}
.btn-jjg {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-jjg:hover {
  background-color: #444;
}
.jenjang-sekolah h3 {
  text-align: center;
  font-size: 19px;
  color: #333;
  margin-top: 100px;
  margin-bottom: 50px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.jenjang-sekolah h3 span{
  font-size: 19px;
  color: green;
}